<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446919469250-0c2pskq98kogfufjhttneqv03toankcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446919469250-0c2pskq98kogfufjhttneqv03toankcd</string>
	<key>API_KEY</key>
	<string>AIzaSyAZuQ4wNexrL8hYHu05BHnY6WOuqZvVUBI</string>
	<key>GCM_SENDER_ID</key>
	<string>446919469250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ineed.Dezmond.iNeed</string>
	<key>PROJECT_ID</key>
	<string>ineed-97442</string>
	<key>STORAGE_BUCKET</key>
	<string>ineed-97442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446919469250:ios:15445252eeaa3424</string>
	<key>DATABASE_URL</key>
	<string>https://ineed-97442.firebaseio.com</string>
</dict>
</plist>